<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container home home-about">
      <h1>About</h1>
      <P>SSOKSSOK은 웹 크롤링을 이용한 장애인 혜택 웹 서비스를 제공합니다. </P>
    </div>
  </body>
</html>
